@keyframes pulsing-glow {
  0% {
    box-shadow: 0 0 10px rgba(91, 2, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 30px rgba(91, 2, 255, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(91, 2, 255, 0.7);
  }
}

@keyframes idle-glow {
  0%, 100% {
    box-shadow: 0 0 5px rgba(91, 2, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 10px rgba(91, 2, 255, 0.5);
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: 600px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.searchbar {
  background-color: #d6d6d6;
  border-radius: 8px;
  border-style: none;
  height: 28px;
  width: 188px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  transition: width 0.3s ease, height 0.3s ease;
  animation: idle-glow 3s infinite;
}

.searchbar:focus {
  width: 250px;
  height: 35px;
  animation: pulsing-glow 1.5s infinite;
}

.corner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 125px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.contactList {
  height: auto;
  max-height: 390px;
  overflow: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
